<!-- Footer med diverse länkar -->
<footer>
    <div id="footer-content">
        <div class="footer-col">
            <h2>Kontakta oss</h2>
            <a href="tel:010-123456"><i class="fa-solid fa-phone"></i> 010-123 45 67</a>
            <a href="mailto:kontakt@sweuni.se"><i class="fa-regular fa-envelope"></i> kontakt&#64;sweuni.se</a>
        </div>
        <div class="footer-col">
            <h2>Om webbplatsen</h2>
            <a routerLink="/">Om SWEUNi</a>
            <a routerLink="/">Cookies</a>
            <a routerLink="/">Tillgänglighet</a>
            <a routerLink="/">Personuppgifter</a>
        </div>
        <div class="footer-col">
            <h2>Snabblänkar</h2>
            <a routerLink="/"><i class="fa-solid fa-house"></i> Hem</a>
            <a routerLink="/courses"><i class="fa-solid fa-magnifying-glass"></i> Sök kurser</a>
            <a routerLink="/"><i class="fa-solid fa-user"></i> Mina sidor</a>
            <a routerLink="/scheme">Ramschema</a>
        </div>
    </div>
    <div id="social-media">
        <a routerLink="/"><i class="fa-brands fa-facebook"></i></a>
        <a routerLink="/"><i class="fa-brands fa-instagram"></i></a>
        <a routerLink="/"><i class="fa-brands fa-linkedin"></i></a>
        <a routerLink="/"><i class="fa-brands fa-twitter"></i></a>
        <a routerLink="/"><i class="fa-brands fa-tiktok"></i></a>
    </div>
    <div id="bottom-foot">
        <p>&copy; 2024 Isa Westling</p>
    </div>
</footer>