// Variabler för text och färger
$font-text: 'Roboto', Helvetica, Arial, sans-serif;
$font-heading: "Montserrat", 'Roboto', Helvetica, sans-serif;
$background-color: rgb(230, 230, 230);
$bg-color-white: rgb(255, 255, 255);
$primary-color: rgb(32, 32, 32);
$basic-black: black;
$secondary-color: rgb(34, 112, 185);
$light-grey-color: rgb(190, 190, 190);
$light-pink: rgb(255, 248, 252);
$link-color: rgb(31, 206, 153);
$transparent-grey: rgba(51, 51, 51, 0.9);
$nav-color: rgb(77, 74, 75);
$mobile-nav-color: rgb(171, 219, 206);
$sub-head-color: #05081f;
$hover-color: darken($link-color, 10%);
$table-hover: darken($bg-color-white, 10%);
$text-color: #333;
$light-text-color: white;
$add-btn-color: rgb(34, 122, 16);
$edit-btn-color: rgb(240, 153, 53);
$delete-btn-color: rgb(236, 58, 58);

// Extend för knappar inkl. hover
%button-style {
    background-color: $link-color;
    color: $light-text-color;
    font-family: $font-heading;
    margin: 2rem 0;
    letter-spacing: 0.2rem;
    font-weight: 600;
    font-size: 2rem;
    width: 100%;
    height: auto;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: $hover-color;
    }
}

// Mixin för flex och centering av layout
@mixin center-flex() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Mixin för gemensamma egenskaper för rubriker
@mixin heading-style($font-size, $line-height, $font-weight) {
    font-size: $font-size;
    font-family: $font-heading;
    color: $primary-color;
    font-weight: $font-weight;
    letter-spacing: 0.2rem;
    line-height: $line-height;
}

// Extend för navlänkar
%nav-style {
    font-size: 2rem;
    font-family: $font-heading;
    color: $basic-black;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-decoration: none;
    padding: 0 2rem;

    &:hover {
        text-decoration: underline;
        color: $hover-color;
        text-underline-offset: 0.5rem;

        // Ändrar hover vid mindre skärmar
        @media (max-width: 800px) {
            color: $basic-black;
        }
    }
}