@use 'abstracts';
@use '@angular/material' as mat; // Importerar angular material

// Inkluderar gemensamma stilar för Angular Material
@include mat.core();

// Definierar paletter till slidern
$blue: mat.define-palette(mat.$blue-palette);
$indigo: mat.define-palette(mat.$indigo-palette);

// Skapar ett anpassat tema med paletterna
$custom-theme: (
  color: (
    primary: $blue,
    accent: $indigo
  )
);

// Inkluderar stilar för slide-toggle med det anpassade temat
@include mat.slide-toggle-theme(mat.define-light-theme($custom-theme));

// Globala värden
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Typografi
html {
    font-size: 62.5%;
    height: 100%;
}

// Body
body {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-family: abstracts.$font-text;
    font-weight: 400;
    background-color: abstracts.$bg-color-white;
    color: abstracts.$text-color;
    height: 100%;
}

// Huvudinnehåll
main {
    @include abstracts.center-flex();
    width: 80%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
}

/* Styling för rubriker, mixin för gemensamma egenskaper */
h1 {
    @include abstracts.heading-style(2.8rem, 2.8rem, 400);
    text-align: left;
    letter-spacing: 0.5rem;
    color: abstracts.$light-text-color;
    margin: 1rem 0 0 0;
}

h2 {
    @include abstracts.heading-style(2.4rem, 3.4rem, 600);
    margin: 2rem 0 2rem 0;
    color: black;
}

h3 {
    @include abstracts.heading-style(2.2rem, 3.2rem, 600);
    margin: 2rem 0 2rem 0;
}

h4 {
    @include abstracts.heading-style(2rem, 3rem, 600);
    margin: 2rem 0 1rem 0;
}

// Styling för paragrafer
p {
    margin: 1.5rem 0;
    max-width: 75ch;
}

// Styling för länkar
a {
    color: abstracts.$link-color;

    &:hover {
        color: abstracts.$hover-color;
    }
}

// DARK MODE STYLING
body.dark-mode {
    background-color: abstracts.$dark-background;
    color: abstracts.$light-text-color;

    h1,
    h2,
    h3,
    h4,
    label {
        color: abstracts.$light-text-color;
    }

    #paginator a {
        color: abstracts.$light-text-color;
    }

    table {
        background-color: darken(abstracts.$dark-background, 10%);

        tbody tr:hover {
            background-color: lighten(abstracts.$dark-background, 10%) !important; // Hover för tabellrader
        }
    }
}

// Mindre enheter
@media (max-width: 600px) {
    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    main {
        width: 90%;
    }
}