<div id="scheme-container">
    <h2>Ramschema</h2>
    <div id="table-container">
        <table id="course-table">
            <thead>
                <tr>
                    <!-- Eventbinding som vid klick anropar metod för att sortera kurser -->
                    <th>Kurskod</th>
                    <th id="name">Namn</th>
                    <th>Poäng</th>
                    <th>Ämne</th>
                    <th id="syllabus">Kursplan</th>
                    <th>Ta bort</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loopar igenom kurslistan och skriver ut varje kurs i en egen tabellrad med kolumner för varje del -->
                <tr *ngFor="let course of scheme">
                    <!-- Interpolation för att visa datan -->
                    <td>{{ course.courseCode }}</td>
                    <td class="coursename">{{ course.courseName }}</td>
                    <td>{{ course.points }}</td>
                    <td>{{ course.subject }}</td>
                    <!-- Property bindning för att skapa en länk med datan -->
                    <td><a [href]="course.syllabus" target="_blank">Kursplan</a></td>
                    <!-- Knapp för att ta bort kursen från ramschemat, anropar metod vid klick -->
                    <td><button (click)="removeFromScheme(course)">Ta bort <i class="fa-solid fa-trash-can"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>