<!-- Header innehållande navmeny, använder Angulars routing och active-komponent för länkar -->
<header>
    <a id="logo" routerLink="/home"><img src="./assets/images/sweuni.svg" alt="Sweuniversitetet logotyp">
        <h1>SWE<br>UNiVERSiTETET</h1>
    </a>
</header>

<nav id="menu">
    <ul>
        <li><a routerLink="/home" routerLinkActive="active">HEM</a></li>
        <li><a routerLink="/courses" routerLinkActive="active">KURSER</a></li>
        <li><a routerLink="/scheme" routerLinkActive="active">RAMSCHEMA</a></li>
    </ul>
</nav>