<!-- Header innehållande navmeny, använder Angulars routing och active-komponent för länkar -->
<header>
    <a id="logo" routerLink="/home"><img src="./assets/images/sweuni.svg" alt="Sweuniversitetet logotyp">
        <h1>SWE<br>UNiVERSiTETET</h1>
    </a>
    <!-- Länkar för att söka kurser och "mina sidor" (ej implementerat) -->
    <div id="header-links">
        <a routerLink="/courses"><i class="fa-solid fa-magnifying-glass"></i> Sök kurser</a>
        <a routerLink="/"><i class="fa-solid fa-user"></i> Mina sidor</a>
        <!-- Toggle-slider från Angular Material för att aktiver darkmode. Använder twoway data bindning, lyssnar på togglechange och anropar metod -->
        <mat-slide-toggle color="primary" [(ngModel)]="darkMode" (toggleChange)="toggleDarkMode()">
            Mörkt läge
        </mat-slide-toggle>
    </div>
</header>

<nav id="menu">
    <ul>
        <!-- Navlänkar som vid klick anropar metod för att byta headerbild -->
        <li><a routerLink="/home" routerLinkActive="active" (click)="changeImage('./assets/images/header1.jpg')">HEM</a>
        </li>
        <li><a routerLink="/courses" routerLinkActive="active"
                (click)="changeImage('./assets/images/header2.jpg')">KURSER</a></li>
        <li><a routerLink="/scheme" routerLinkActive="active"
                (click)="changeImage('./assets/images/header3.jpg')">RAMSCHEMA</a></li>
    </ul>
</nav>

<!-- Mobilmeny -->
<div class="menu-container">
    <!-- Navmeny som växlar klass baserat på "isVisible" för att visa/dölja menyn -->
    <nav class="mobile-menu" [class]="{'show': isVisible}">
        <ul>
            <!-- Navlänkar, när de klickas anropas hideMenu för att dölja menyn (event-binding) -->
            <li><a routerLink="/home" routerLinkActive="active" (click)="hideMenu()"
                    (click)="changeImage('./assets/images/header1.jpg')">HEM</a></li>
            <li><a routerLink="/courses" routerLinkActive="active" (click)="hideMenu()"
                    (click)="changeImage('./assets/images/header2.jpg')">KURSER</a></li>
            <li><a routerLink="/scheme" routerLinkActive="active" (click)="hideMenu()"
                    (click)="changeImage('./assets/images/header3.jpg')">RAMSCHEMA</a></li>
        </ul>
    </nav>
    <!-- Property-binding för att växla klass, overlay som visas när menyn är öppen. När isVisible är sant (menyn är öppen), läggs klassen opacity till. Om isVisible är falskt är overlayen inte synlig. Klick på overlayen anropar funktion som döljer menyn -->
    <div id="overlay" [class.opacity]="isVisible" (click)="hideMenu()"></div>
    <!-- Knapp för att växla mobilmenyns synlighet. Visar antingen menyikonen eller stängikonen baserat på isVisible -->
    <button class="menu-toggle" (click)="toggleMenu()">
        MENY
        <!-- Property-binding för styling, atängikonen visas (opacitet 1) endast när `isVisible` är sant (öppen meny). Annars sätts opaciteten till 0. När menyn öppnas/stängs får ikonen en rotationseffekt 360 grader och tillbaka. -->
        <i class="fa-solid fa-bars" [style]="{'opacity': isVisible ? '0' : '1'}"></i>
        <i class="fa-solid fa-xmark"
            [style]="{'opacity': isVisible ? '1' : '0', 'transform': isVisible ? 'translate(-50%, -50%) rotate(360deg)' : 'translate(-50%, -50%) rotate(-360deg)'}"></i>
    </button>
</div>

<!-- Headerbild med propertybindning för att kunna byta ut bilden beroende på sida -->
<img id="headerimg" [src]="headerImage" alt="Två stundenter som pluggar webbutveckling">